* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: beige;
  height: 55px;
  display: flex;
  overflow-x: auto;
}

.nav__link {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  color: rgb(202, 147, 59);
  overflow: hidden;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: sans-serif;
  font-size: 13px;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.5s ease;
}

.nav__link:hover {
  background-color: rgba(222, 184, 135, 0.477);
}

.nav__link:active {
  background-color: rgba(222, 184, 135, 0.477);
}

.nav__text {
  margin-top: 5px;
}

.nav__link--1 {
  background-image: url(img2.jpg);

  background-size: cover;
  height: 100%;
  color: aliceblue;
}
